*{
margin: 0px!important;
padding: 0px!important;
box-sizing: border-box!important;
}

body{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100vh!important;

    background-color: rgb(160, 112, 184) !important ;
}

.stars{
    text-align: center!important;
    width: 400px!important;
    height: 200px!important;
    border-radius: 5px;  
    font-size: 25px!important;
    padding: 40px 0px!important;
    color: rgb(54, 52, 52);
}

input{
    visibility: hidden;
}
label{
    cursor: pointer;
}
input:checked +label ~label{
    /* color:#ffcc00; */
    color: rgb(116, 113, 113);
}

